@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}
.input:focus,
.textarea:focus,
.select:focus,
.btn:focus {
  /* 
    将 outline-offset 设置为你想要的值。
    - 1px 会有一个很细的缝隙。
    - 0px 会让辉光紧贴边框，完全没有缝隙。
  */
  outline-offset: 0px; /* <-- 推荐值 */
}

.input-bordered:focus,
.textarea-bordered:focus,
.select-bordered:focus {
  outline-offset: 0px; /* <-- 推荐值 */
}
